[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fiboa-cli = ">=0.3"
pymarkdownlnt = ">=0.9"

[scripts]
test-docs = "pymarkdown -d md024 scan ."
test-schema = "fiboa validate-schema core/schema/schema.yaml"
test-geojson = "fiboa validate geojson/examples -s core/schema/schema.yaml --data"
test-geoparquet = "fiboa validate geoparquet/examples -s core/schema/schema.yaml --data"
create-geoparquet = "fiboa create-geoparquet geojson/examples/featurecollection/features.json -o geoparquet/examples/example.parquet -s core/schema/schema.yaml"
